<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="theme-color" content="#0a3d91">
<link rel="manifest" href="/static/manifest.json">
</head>
<body>

<div class="container">

    <div class="card" style="text-align:center;">
        <h3 style="color:green;">✔ Approved</h3>
        <h1>$ {{ amount }}</h1>
        <p>Deposited</p>

        <hr>

        <p>Card: •••• {{ last4 }}</p>
        <p>Date: {{ date }}</p>
        <p>Transaction #: {{ tx_id }}</p>

        <a href="/">
            <button class="button">Done</button>
        </a>
    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>